<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Prefes</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/swfobject.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
    <div id="container">
        <div id="ytapiplayer">
            You need Flash player 8+ and JavaScript enabled to view this video.
        </div>

        <script type="text/javascript">
            var id = location.hash.substring(1);
            $('li').find(id).addClass('current');//今日はここから。このcurrentクラスをどうやって、次の曲にもっていくのか。最初に呼び込まれた時は、どうやって最初のhashにアクセスさせるのか。
            var youtubeUrl = 'http://www.youtube.com/v/'+ id +'?enablejsapi=1&playerapiid=ytplayer';
            var params = { allowScriptAccess: "always" };
            var atts = { id: "myytplayer" };
            var flashvars = {};
            swfobject.embedSWF(youtubeUrl,"ytapiplayer", "425", "356", "8", null, flashvars, params, atts);
            console.log(youtubeUrl);
        </script>
        <ul>
            <% @setlist.each do |name, count,id|%>
                <li id='<%= id %>'>
                <a href='#<%= id %>' class='clearfix' data-id='<%= id %>' title='<%= name %>'>
                    <span>link</span>
                </a><%= count %>
                </li>
            <% end %>
        </ul>
    </div>
    </body>
</html>
